<!DOCTYPE html>
<html>
<%- include('../../partials/header')%>

  <body>
    <%- include('../../partials/navigation')%>

      <%- include('../../partials/sidebar')%>

        <div class="main-container">
          <div class="pd-ltr-20">
            <!-- Form grid Start -->
            <div class="pd-20 card-box mb-10">
              <div class="clearfix">
                <div class="pull-left">
                  <h4 class="text-blue h4">ຟອມປ້ອນຂໍ້ມູນ</h4>
                </div>
                <div class="pull-right">
                  <a href="/admin/categories" class="btn btn-outline-primary btn-sm scroll-click">ກັບຄືນ</a>
                </div>
              </div>
              <form action="/admin/categories/create-category" method="POST" enctype="multipart/form-data">
                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                      <label>Title</label>
                      <input type="text" name="title" id="title" class="form-control" placeholder="Title..." required>
                    </div>
                  </div>


                  <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                      <label>ອະທີບາຍ/Description*</label>
                      <!-- <textarea type="text" name="desc" id="desc" class="textarea_editor form-control border-radius-5" maxlength="150" placeholder="ໃສ່ຄຳອະທີບາຍ (150ອັກສອນ) ..."></textarea> -->
                      <textarea type="text" name="desc" id="desc" class="form-control"
                        placeholder="Description ..."></textarea>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                      <label>ຮູບພາບ/Image</label>
                      <input type="file" name="categoryImage" id="formFile" class="form-control"
                        accept="image/jpg, image/jpeg, image/png" required />
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                      <label>ເລືອກຮູບແບບສັນຍາລັກ/Select Icons</label>
                      <select class="custom-select2 form-control" name="icon" style="width: 100%; height: 35px;">
                        <option value="icon-concept">Concept</option>
                        <option value="icon-scheme">Scheme</option>
                        <option value="icon-floor">Floor</option>
                        <option value="icon-furniture-and-household">Furniture</option>
                        <option value="icon-holder">Holder</option>
                        <option value="icon-lamp">Lamp</option>
                        <option value="icon-next">Next</option>
                        <option value="icon-paint">Paint</option>
                        <option value="icon-sketch">Sketch</option>
                        <option value="icon-teacher">Teaching</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-2 col-sm-12">
                    <div class="form-group">
                      <label>ສະຖານະ/Status*</label>
                      <select class="custom-select2 form-control" name="status" id="status"
                        style="width: 100%; height: 35px;" required>
                        <option value="active">Active</option>
                        <option value="inactive">Inactive</option>
                      </select>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-outline-primary">Submit</button>
            </div>
            </form>
            <div class="collapse collapse-box" id="form-grid-form">
              <div class="code-box">
                <div class="clearfix">
                  <a href="javascript:;" class="btn btn-primary btn-sm code-copy pull-left"
                    data-clipboard-target="#form-grid"><i class="fa fa-clipboard"></i> Copy Code</a>
                  <a href="#form-grid-form" class="btn btn-primary btn-sm pull-right" rel="content-y"
                    data-toggle="collapse" role="button"><i class="fa fa-eye-slash"></i> Hide Code</a>
                </div>
                <pre>
								<code class="xml copy-pre" id="form-grid">
								</code>
							</pre>
              </div>
            </div>
            <%- include('../../partials/footer')%>
          </div>
        </div>
        <%- include('../../partials/script')%>
  </body>

</html>