<!DOCTYPE html>
<html>
  <%- include('../../partials/header')%>
<body>

  <%- include('../../partials/navigation')%>

  <%- include('../../partials/sidebar')%>

	<div class="main-container">
		<div class="pd-ltr-20">
      <div class="page-header">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="title">
              <h4>Blog and CHR</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Blogs</li>
              </ol>
            </nav>
          </div>
          <div class="col-md-6 col-sm-12 text-right">
            <div class="dropdown">
              <a class="btn btn-primary" href="/admin/blogs/create-blog" role="button">
                Create
              </a>
            </div>
          </div>
        </div>
      </div>
			<div class="card-box mb-30">
				<h2 class="h4 pd-20">Blog Management</h2>
				<table class="data-table table nowrap">
					<thead>
						<tr>
							<th class="table-plus datatable-nosort">Image</th>
							<th>Title</th>
							<th>Service</th>
							<th>Status</th>
							<th>Created At</th>
							<th class="datatable-nosort">Action</th>
						</tr>
					</thead>
					<% if(typeof blogs !== 'undefined') { %>
						<tbody>
							<% blogs.forEach(function(blog){ %>
							<tr>
								<td class="table-plus">
									<% if(blog.image == "") { %>
									<img src="/uploads/noimage.png" width="70" height="70" alt="">
									<% } else { %>
										<img src="/uploads/images/blogs/<%= blog._id %>/<%= blog.image %>" width="70" height="70" alt="">
									<% } %>
								</td>
								<td>
									<h5 class="font-16"><%= blog.title %></h5>
								</td>
								<td><%= blog.category %></td>
								<td><%= blog.status %></td>
								<td><%= blog.createdAt.toLocaleString() %></td>
								<td>
									<div class="dropdown">
										<a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
											<i class="dw dw-more"></i>
										</a>
										<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
											<a class="dropdown-item" href="/admin/blogs/view/<%= blog._id %>"><i class="dw dw-eye"></i> View</a>
											<a class="dropdown-item" href="/admin/blogs/edit/<%= blog._id %>"><i class="dw dw-edit2"></i> Edit</a>
											<a class="dropdown-item" href="/admin/blogs/delete/<%= blog._id %>"><i class="dw dw-delete-3"></i> Delete</a>
										</div>
									</div>
								</td>
							</tr>
							<% }); %>
						</tbody>
						<% } else { %>
							<tbody>
									<tr>
										<td class="table-plus">
												<img src="/uploads/noimage.png" width="70" height="70" alt="">
										</td>
										<td>
											<h5 class="font-16">Empty...</h5>
											...
										</td>
										<td>...</td>
										<td>...</td>
										<td>...</td>
										<td>
											<div class="dropdown">
												<a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
													<i class="dw dw-more"></i>
												</a>
												<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
													<a class="dropdown-item" href="#"><i class="dw dw-eye"></i> View</a>
													<a class="dropdown-item" href="#"><i class="dw dw-edit2"></i> Edit</a>
													<a class="dropdown-item alert" href="#"><i class="dw dw-delete-3"></i> Delete</a>
												</div>
											</div>
										</td>
									</tr>
							</tbody>	
						<% } %>			
				</table>
			</div>
			<%- include('../../partials/footer')%>
		</div>
	</div>
	<!-- js -->
  <%- include('../../partials/script')%>
</body>
</html>