<!DOCTYPE html>
<html>
<%- include('../../partials/header')%>
<body>
  <%- include('../../partials/navigation')%>

  <%- include('../../partials/sidebar')%>

	<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				<div class="page-header">
					<div class="row">
						<div class="col-md-12 col-sm-12">
							<div class="title">
								<h4>CSR Job Information</h4>
							</div>
							<nav aria-label="breadcrumb" role="navigation">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="/admin">Home</a></li>
                  <li class="breadcrumb-item"><a href="/admin/volentears">CSR Jobs</a></li>
									<li class="breadcrumb-item active" aria-current="page">CSR Job Information</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-30">
						<div class="pd-20 card-box height-100-p">
							<div class="blog-detail card-box overflow-hidden mb-30">
                <% if(image == "") { %>
                  <img src="https://geektrippers.com/wp-content/uploads/2019/07/New-Asgard-in-Real-Life-AKA-St-Abbs-Scotland-4.jpg" alt="" class="blog-img">
                  <% } else { %>
                <img src="/uploads/images/volentears/<%= id %>/<%= image %>" alt="" class="blog-img">
                <% } %>
              </div>
							<h5 class="text-center h5 mb-0"><%= title %></h5>
							<p class="text-center text-muted font-14">*******************</p>
							<div class="profile-info">
								<h5 class="mb-20 h5 text-blue">Job Detail</h5>
								<ul>
									<li>
										<span>Description:</span>
										<%= desc %>
									</li>
									<li>
										<span>Remark:</span>
										<%= remark %>
									</li>
									<li>
										<span>Status:</span>
										<%= status %> 
									</li>
									
									<li>
										<span>Public At:</span>
                    <%= created_at.toLocaleString() %>
									</li>
								</ul>
							</div>
							<div class="profile-social">
								<h5 class="mb-20 h5 text-blue">Social Links</h5>
								<ul class="clearfix">
									<li><a href="#" class="btn" data-bgcolor="#3b5998" data-color="#ffffff"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#" class="btn" data-bgcolor="#1da1f2" data-color="#ffffff"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#" class="btn" data-bgcolor="#007bb5" data-color="#ffffff"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
							<div class="profile-skills">
								<h5 class="mb-20 h5 text-blue">Website</h5>
								<h6 class="mb-5 font-14">https://www.3s-laos.com</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
			<%- include('../../partials/footer')%>
		</div>
	</div>
	<%- include('../../partials/script')%>
</body>
</html>